/* Master styles */

body {
    font-family: "Lato", arial;
    background-color: #333131;
}

.main-content {
    padding: 20px;
}

.hero-body {
    background-color:hsl(348, 100%, 61%)
}

/* Nav bar styles */

header {
    width: auto;
    height: 60px;
    background-color: #333131;
    font-family: "Lato", arial;
}

ul {
    width: auto;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

li {
    display: inline-block;
}

.navbar-item{
    color: white !important;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2vw;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navbar-item:hover {   
    border-bottom: 1px solid white;
}

.active-nav-link {
    border-bottom: 1px solid white;
}

/*About Page Styles*/

.about-block {
    margin-top: 20px;
}

/*Signup Page Styles*/

#signup-form {
    text-align: center;
}

/*Home Page Styles*/

.columns {
    text-align: center;

}

.column-block {
    margin-bottom: 0px;
}

/*Tab Styles*/

.box {
    background-color: hsl(348, 100%, 61%);
}

p {
    color: white;
}

.title {
    color: white;
}
