/* Master styles */

html {
  width: 100%;
}

body {
    background-color: hsl(0, 0%, 21%);
    width: 100%;
    position: relative;
}

.main-content {
    padding: 20px;
}

.bottom-text {
    text-align: center;
    padding: 20px;
}

.bottom-text p {
    color: white;
}

/* Nav bar styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
 
.nav-icon {
  height: 40px;
  width: 40px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 15px;
}

nav {
  background-color: hsl(0, 0%, 21%);
  color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 black;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
nav .mainMenu li a:hover {
  background: hsl(0, 0%, 11%);
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu , .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media(max-width: 800px){
  nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: hsl(0, 0%, 21%);
      transition: top 1s ease;
      display: none;
  }
  nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

  }
  nav .openMenu {
      display: block;
  }
  nav .mainMenu li a:hover {
      background: none;
      font-size: 1.6rem;
      border-bottom: 1px solid transparent;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

/*About Page Styles*/

#top-block {
  margin: 0;
}
.about-block {
    margin-top: 20px;
}

.pfp {
  min-width: 300px;
  width: 40vw;
  margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Signup Page Styles*/

#signup-form {
    padding-top: 20px;
    display: flex;
    min-width: 463px;
    width: 50%;
    margin: 0 auto;
}

/*Home Page Styles*/

.column {
  text-align: center;
  display: flex;
}

.column .box .title {
    color: hsl(0, 0%, 21%);
}

.column .box p {
    color:black;
}
.column .box {
    background-color: rgb(176,196,222); 
    
}

.hero-body {
    background-color:rgb(176,196,222);
}

/* Carousel Styles */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100% !important;
  position: relative;
  margin: 0px;
  height: 70vh;
}


/* Hide the images by default */
.mySlides {
  display: flex;
  height: 70vh;
  overflow: hidden;
  margin: 0px;
  position: relative;
}

.carousel-img {
  width: 100%; 
  min-height: 70vh;
  height: auto; 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  margin: 0px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slides-caption {
  color: white;
  font-size: 50px;  
  padding: 8px 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Tab Styles*/

.box {
    background-color: hsl(348, 100%, 70%);
}

p {
    color: black;
}

.title {
    color: hsl(0, 0%, 21%);
}

/* Review Styles*/

.review-content {
    padding: 20px;
}

.review-content .columns .column .box {
    background-color: hsl(5, 92%, 90%);
}

.review-container {
    position: relative;
    text-align: center;
    color: white;
  }
.centered-review{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.centered-review .title {
    font-size: 80px;
}

.review-pfp {
    width: 218px;
    height: 240px;
}

/*Link styles*/
a:link {
    color: rgb(0,0,205);
    background-color: transparent;
    text-decoration: underline;
  }
  a:hover {
    color: white;
    background-color: transparent; 
  }

/* Donations Page */
.donate-img {
  width: 100%; 
  min-height: 70vh;
  height: auto; 
  top: 0; 
  bottom: 0; 
  margin: 0px;
  top: 50%;
}

iframe[name=donorbox] {

    max-width: 425px !important;
  
    margin: auto;
  
    display: block;
    width: 500px;
}

.donation-column {
    text-align: center;
    display: flex;
  }

.donation-column .box .title {
    color: hsl(0, 0%, 21%);
}
.donation-column .box p {
    color:black;
    line-height: 2.0;
}

