/* MASTER STYLES */

body {
    font-family: "Lato", arial;
    margin: 10px;
}

/* NAV STYLES */

.box {
    background-color: #ffff80;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 1.1em; /*1100% of original font size*/
}

.nav-wrapper > .right-side > div {
    font-size: 1.1em; 
    font-weight: bold;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

}

.nav-link-wrapper a {
    color: black;
    text-decoration: none;
    transition: color 0.5s; 
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a{
    color: black !important;
}

/*About Page Styles*/


.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30x
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}
/*Signup Page Styles*/

#signup-form {
    text-align: center;
}
